* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

img{
  max-width: 100%;
}

button,
li {
  font-family: inherit;
}

h1{
  color: hsl(212, 21%, 14%);
}

body{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(30, 38%, 92%)!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 0.1px);
  margin: 0 1.5rem;
}

h1, #price, #full-price{
  font-family: 'Fraunces', serif;
}

h2{
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  margin-bottom: 1rem;
  letter-spacing: 3px;
}

p{
  color: hsl(228, 12%, 48%);
  line-height: 1.8;
}

.container{
  max-width: 700px;
}

.container h1{
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.container p{
  margin-bottom: 2rem;
}

.container ul{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding-left: 10px;
}

.container ul li:first-child{
  font-size: 2rem;
  color: hsl(158, 36%, 37%);
  margin-right: 1.5rem;
}

.container ul li:nth-child(2){
  color: hsl(228, 12%, 48%);
}

.container article:first-child img{
  border-radius: 1rem 1rem 0 0;
}

.container .cart-btn{
  background-color: hsl(158, 36%, 37%);
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem 2rem;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0.625rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.container .cart-btn:hover{
  background-color: hsl(158, 35%, 27%);
}

.container .cart-btn img{
  margin-right: 0.5rem;
}

.container article:last-child{
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0 0 1rem 1rem;
}

@media (min-width: 640px){
  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container article:first-child img{
    border-radius: 0.625rem 0 0 0.625rem;
    height: 100%;
  }

  .container article:last-child{
    border-radius: 0 0.625rem 0.625rem 0;
    padding: 30px;
  }
  .container ul{
    justify-content: space-between;
    padding-left: 0;
  }
}