* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

img{
  max-width: 100%;
}

button,
li {
  font-family: inherit;
}

h1{
  color: hsl(212, 21%, 14%);
}

body{
  font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1200 - 300)));
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(30, 38%, 92%)!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 0.1px);
  margin: 0 24px;
}

h1, #price, #full-price{
  font-family: 'Fraunces', serif;
}

h2{
  text-transform: uppercase;
  font-size: calc(10px + (13 - 10) * ((100vw - 300px) / (1000 - 300)));
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  margin-bottom: 16px;
  letter-spacing: 3px;
}

p{
  color: hsl(228, 12%, 48%);
  line-height: 1.8;
}

.container{
  max-width: 700px;
}

.container h1{
  margin-bottom: 16px;
  font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1100 - 300)));
}

.container p{
  margin-bottom: 32px;
}

.container ul{
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  padding-left: 10px;
}

.container ul li:first-child{
  font-size: calc(20px + (32 - 20) * ((100vw - 300px) / (1600 - 300)));
  color: hsl(158, 36%, 37%);
  margin-right: 24px;
}

.container ul li:nth-child(2){
  color: hsl(228, 12%, 48%);
}

.container article:first-child img{
  border-radius: 16px 16px 0 0;
}

.container .cart-btn{
  background-color: hsl(158, 36%, 37%);
  color: #fff;
  font-weight: 700;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1200 - 300)));
  padding: 16px 32px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.container .cart-btn:hover{
  background-color: hsl(158, 35%, 27%);
}

.container .cart-btn img{
  margin-right: 8px;
}

.container article:last-child{
  background-color: #fff;
  padding: 24px;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  
}


/* -------------------------------------- */
/* ------------Responsiveness------------ */
/* -------------------------------------- */


@media (min-width: 640px){
  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container article:first-child img{
    border-radius: 10px 0 0 10px;
    height: 100%;
  }

  .container article:last-child{
    border-radius: 0 10px 10px 0;
    padding: 30px;
  }
  
  .container ul{
    justify-content: space-between;
    padding-left: 0;
  }
  .cart-btn{
    margin-top: auto;
  }
  .container h1{
    margin-top: auto;
  }
}